@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "ModificarEstudiante";
    Layout = "_LayoutSGPI";
}

<h1 style ="text-align:center">Modificar Estudiante</h1>
    <form action="" class="form-inline justify-content-center">
        <center>
            <!-- menu-->
            <ul class="nav nav-pills" class="form">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="/Estudiante/ModificarEstudiante">Modificar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Estudiante/PagosEstudiante">Pagos</a>
                </li>
                </ul>
    </center>
</form>
<br />
<form method="post">
    <div class="row align-items-start">
        <div class="col-4">
            <!--Anexo el select-->
            <label>Tipo de Documento</label>
            <br />
            @Html.DropDownList("IdDocumento",new SelectList(ViewBag.TipoDocumento,"IdDocumento","TipoDocumento"),new{@class="form-contol dropdown"})
            <br />
            <label>Primer Nombre</label>
            <br />
            <input asp-for="PrimerNombre" type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
            <br />
            <label>Segundo Nombre</label>
            <br />
            <input asp-for="SegundoNombre" type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
            <br />
            <label>Primer Apellido</label>
            <br />
            <input asp-for="PrimerApellido" type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
            <label>Segundo Apellido</label>
            <br />
            <input asp-for="SegundoApellido" type="text" class="form-control col-sm-12" id="apellidousuariotxt" required />
        </div>
        <div class="col-4">
            <label>Numero de Documento</label>
            <br />
            <input asp-for="NumeroDocumento" type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
            <br />
            <label>Correo Electronico</label>
            <input asp-for="Email" type="text" class="form-control col-sm-12" id="correoelectronicousuariotxt" required />
            </div>
        <div class="col order-last">
            <label>Genero</label>
            <br />
            @Html.DropDownList("IdGenero",new SelectList(ViewBag.Genero,"IdGenero","Genero1"),new{@class="form-contol dropdown"})
            <br />
            <br />
            <label>Programas</label>
            <br />
            @Html.DropDownList("IdPrograma",new SelectList(ViewBag.Programa,"IdPrograma","Programa1"),new{@class="form-contol dropdown"})
            <br />
            <br />
            <label>Contraseña</label>
            <br />
            <input asp-for="Password" type="text" class="form-control col-sm-12" id="passwordtxt" required />
            <b><label for="certificadotxt">Enviar Certificado</label></b>
            <br>
            <input type="file" placeholder="" style="width : 400px; heigth : 1px" id="primerlastnametxt" />
        </div>
    </div>
    <br />
    <br />
    <br />

    <center>
        <button type="submit" class="btn btn-outline-danger" id="editarbtn type" submit>Modificar</button>
    </center>
    


</form>



