
@{
    ViewData["Title"] = "PagosEstudiante";
    Layout = "_LayoutSGPI";
}

<h1 style="text-align:center">Pagos Estudiante</h1>
<form action="" class="form-inline justify-content-center">
    <center>
        <!-- menu-->
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/Estudiante/ModificarEstudiante">Modificar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Estudiante/PagosEstudiante">Pagos</a>
            </li>
        </ul>
    </center>
</form>
<br />

