
@{
    ViewData["Title"] = "HomologacionCoordinador";
    Layout = "_LayoutSGPI";
}

<h1 style="text-align:center">Homologación Coordinador</h1>

<form action="" class="form-inline justify-content-center">
    <center>
        <!-- menu-->
        <ul class="nav nav-pills" class="form">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/Coordinador/BuscarCoordinador">Buscar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Coordinador/ProgramarAsignatura">Progamar Asignatura</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " href="/Coordinador/HomologacionCoordinador">Homologación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Coordinador/EntrevistasCoordinador">Entrevistas</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/Coordinador/ReportesCoordinador">Reportes</a>
            </li>
        </ul>
    </center>
</form>
<br />

<div class="input-group">
    <input type="search" class="form-control col-sm-3" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">Buscar</button>
</div>
<br />


<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-4">
            <label>Nombre</label>
            <br />
            <input type="text" class="form-control col-sm-12" id="nombreusuariotxt" required />
            <br />
            <label> Primer Apellido</label>
            <br />
            <input type="text" class="form-control col-sm-12" id="primerapellidotxt" required />
            <label> Segundo Apellido</label>
            <br />
            <input type="text" class="form-control col-sm-12" id="segundoapellidotxt" required />
        </div>
        <div class="col-4">
            <label>Numero de Documento</label>
            <br />
            <input type="text" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />
            <br />
            <label>Programa</label>
            <input type="text" class="form-control col-sm-12" id="programatxt" required />
        </div>
    </div>
</div>
<br />
<div class="tabletable-responsive">
    <table class="table">
        <thead class="table-success">
            <tr>
                <th>Número</th>
                <th>Código</th>
                <th>Nom Asignatura</th>
                <th>Creditos</th>
                <th>Nivel</th>
                <th>Programa</th>
                <th>Cod Asign Hom</th>
                <th>Creditos Hom</th>
                <th>Nota</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>124578</td>
                <td>Construcción</td>
                <td>3</td>
                <td>5</td>
                <td>2589</td>
                <td>Python</td>
                <td>4</td>
                <td>4.5</td>
            </tr>
    </table>

</div>
<div class="col-6">    
    <button type="button" class="btn btn-lg btn-primary" disabled>Enviar</button>
    <button type="button" class="btn btn-secondary btn-lg" disabled>Cancelar</button>
    </div>

  
