
@{
    ViewData["Title"] = "OlvidarContrasena";
    //Aca selecciono para que aparezca el layout
    Layout = "_LayoutSGPI";
}

<!--Aca titulo-->
<h1>Olvidar Contraseña</h1>
<form>
    <center>
        <div class="form-group">
            <!-- label-->
            <label for="usuariotxt">Usuario</label>
            <!--input-->
            <input type="text" class="form-control col-sm-4" id="usuariotxt" requiered />
        </div>

        <div class="form-group">
            <label for="correoelectronico.txt">Correo Electronico</label>
            <input type="correoelectronico" class="form-control col-sm-4" id="correoelectronicotxt" requiered />
        </div>



       

        <!--botton con color-->

        <button type="button" class="btn btn-outline-danger" id="ingresarbtn type" submit>Enviar</button>
        <button type="button" class="btn btn-outline-primary" id="ingresarbtn type" submit>Volver</button>
    </center>
    <!--<button id="ingresarbtn type"submit>Ingresar</button> -->
</form>

